<div class="row mt-4">
    <div class="col">
        <h4 style=" text-align: center;"><span class="badge bg-secondary text-light ">Agrega una nueva Marca</span></h4>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status=='error'">
            <strong>Error!</strong> Hubo un error al realizar la peticion.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status=='success'">
            <strong>Muy Bien</strong> La peticion se realizó con exito.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="container mb-3" >
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" #name="ngModel" [(ngModel)]="brand.name" name="name" class="form-control"
                        required>
                </div>

                <div class="form-group">
                    <label for="image">Imagen</label>
                    <!--    <input type="text" #image="ngModel" [(ngModel)]="brand.image" class="form-control" name="image"
                        required> -->
                    <input type="file" (change)="onFileSelected($event)">
                </div>

                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" #link="ngModel" [(ngModel)]="brand.link" class="form-control" name="link"
                        required>
                </div>

                <div class="form-group">
                    <label for="category">categoria</label>
                    <select class="form-select" #category="ngModel" [(ngModel)]="brand.category" name="category">

                        <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>

                    </select>
                </div>



                <button type="submit" class="btn btn-outline-success mt-3" [disabled]="registerForm.invalid">Guardar
                    Nueva marca</button>
            </form>
        </div>

        <div class="container mb-3" *ngIf="updating">
            <h4 style=" text-align: center;"><span class="badge bg-secondary text-light ">Editar Marca</span></h4>
            <form #updateForm="ngForm" (ngSubmit)="onUpdate(updateForm)">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" #name="ngModel" [(ngModel)]="brandToUpdate.name" name="name" class="form-control" 
                        required>
                </div>

                <div class="form-group">
                    <label for="image">Imagen</label>

                    <img src="{{brand.image}}" height="70px" width="80px">
                    <!--    <input type="text" #image="ngModel" [(ngModel)]="brand.image" class="form-control" name="image"
                        required> -->
                    <input type="file" (change)="onFileSelected($event)">
                </div>

                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" #link="ngModel" [(ngModel)]="brandToUpdate.link" class="form-control" name="link"
                        required>
                </div>

                <div class="form-group">
                    <label for="category">categoria</label>
                    <select class="form-select" #category="ngModel" [(ngModel)]="brandToUpdate.category" name="category">

                        <option *ngFor="let category of categories" value="{{category._id}}" [selected]="brandToUpdate.category==category._id">{{category.name}}</option>

                    </select>
                </div>



                <button type="submit" class="btn btn-outline-info mt-3" [disabled]="updateForm.invalid">Actualizar marca</button>
            </form>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="container">
            <table class="table table-success table-striped ">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>imagen</th>
                        <th>link</th>
                        <th>categoria</th>
                        <th>Acciones</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let brand of brands">
                        <td>{{brand.name}}</td>
                        <td>{{brand.image}}</td>
                        <td>{{brand.link}}</td>

                        <td>{{brand.category.name}}</td>
                        <td>
                            <div class="container">
                                 <div class="row">
                                 <button type="button" class="btn btn-danger btn-sm ml-2"
                                (click)="delete(brand._id)">Eliminar</button> 
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-success  mt-2 ml-2"
                                (click)="goUpdate(brand)">Editar</button>
                          </div>
                              
                            </div>
                           
                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>