<div class="row mt-4">
    <div class="col">
        <h4 style=" text-align: center;"><span class="badge bg-secondary text-light ">Agrega un nuevo banner</span></h4>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status=='error'">
            <strong>Error!</strong> Hubo un error al realizar la peticion.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status=='success'">
            <strong>Muy Bien</strong> La peticion se realizó con exito.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="container mb-3">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <label for="description">descripcion</label>
                    <input type="text" #description="ngModel" [(ngModel)]="banner.description" name="description"
                        class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="image">Imagen</label>
                    <input type="file" (change)="onFileSelected($event)" class="form-control">
                    <!--  <input type="file" (change)="onFileSelected($event)"> -->
                </div>
                <div class="form-group">
                    <label for="mark">Marca</label>
                    <select name="mark" #mak="ngModel" [(ngModel)]="banner.mark">

                        <option *ngFor="let brand of brands" value="brand._id">{{brand.name}}</option>
                    </select>
                    <!--  <input type="file" (change)="onFileSelected($event)"> -->
                </div>


                <button type="submit" class="btn btn-outline-success mt-3" [disabled]="registerForm.invalid">Guardar
                    Nuevo banner</button>
            </form>
        </div>
        <!--   <div class="container mb-3" *ngIf="updating">
            <h4 style=" text-align: center;"><span class="badge bg-secondary text-light ">Editar Banner</span></h4>
            <form #updateForm="ngForm" (ngSubmit)="onUpdate(updateForm)">
                <div class="form-group">
                    <label for="description">descripcion</label>
                    <input type="text" #description="ngModel" [(ngModel)]="banner.description" name="description" class="form-control"
                        required>
                </div>

                <div class="form-group">
                    <label for="image">Imagen</label>
                     <input type="text" #image="ngModel" [(ngModel)]="banner.image" class="form-control" name="image"
                        required> 
                // <input type="file" (change)="onFileSelected($event)"> 
                </div>



                <button type="submit" class="btn btn-outline-info mt-3" [disabled]="updateForm.invalid">Actualizar marca</button>
            </form>
        </div>  -->
    </div>
    <div class="col-sm-8">
        <div class="container">
            <table class="table table-success table-striped ">
                <thead>
                    <tr>
                        <th>descripcion</th>
                        <th>imagen</th>
                        <th>acciones</th>

                    </tr>

                </thead>
                <tbody *ngIf="banners!=undefined">
                    <tr *ngFor="let banner of banners">
                        <td>{{banner.description}}</td>
                        <td>
                            <div class="containerlist">
                                <img src="{{banner.image}}" alt="" class="imglist">
                            </div>
                        </td>

                        <td>
                            <div class="container">

                                <button type="button" class="btn btn-danger btn-sm ml-2"
                                    (click)="delete(banner._id)">Eliminar</button>



                            </div>


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>